/* Geist Sans + Geist Mono (the console's faces, so the site and the
   product read as one thing) and Instrument Sans for display — a sans
   with a true italic, so the one accent word in a headline still
   changes voice. All self-hosted, SIL OFL — see ./fonts/LICENSE.txt.
   Refresh with `npm run sync-fonts`. */

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/Geist-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/GeistMono-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./fonts/InstrumentSans-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Instrument Sans";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("./fonts/InstrumentSans-VariableItalic.woff2") format("woff2");
}
